 /*
 Comment
*/

a { /* Comment */ color: /* Comment */ Red; }



.redLight {
 border-radius: 50%;
 background-color: red; 
 width: 100px;
 height: 100px;  
 
}

.yellowLight {
 border-radius: 50%;
 background-color: yellow; 
 width: 100px;
 height: 100px;  
 
}
 .greenLight {
  
 border-radius: 50%;
 background-color: green; 
 width: 100px;
 height: 100px;  
 }
