 /*
 Comment
*/

a { /* Comment */ color: /* Comment */ Red; }




.redLight {
 border-radius: 50%;
 background-color: #5d061a; 
 width: 100px;
 height: 100px;  
 
}

.yellowLight {
 border-radius: 50%;
 background-color: #9f990b; 
 width: 100px;
 height: 100px;  
 
}
 .greenLight {
  
 border-radius: 50%;
 background-color: #0c5706; 
 width: 100px;
 height: 100px;  
 }
.input {
    padding-top: 25px;
    float:right;
}
.inputGreen {
    background-color: rgba(53, 242, 37, 0.79); 
}

.inputRed {
    background-color: rgba(245, 69, 69, 0.8); 
    
}